verl==0.1
psutil==5.9.8
colorama==0.4.6
setproctitle==1.2.2
boltons==23.0.0
pycparser==2.21
ruamel.yaml.clib==0.2.6
jsonpointer==2.1
PySocks==1.7.1
cryptography==39.0.1
pluggy==1.0.0
six==1.16.0
ruamel.yaml==0.17.21
conda-content-trust==0.1.3
verl==0.2.0.dev0
verl==0.1
pylatexenc==2.10
pyparsing==3.2.1
GitPython==3.1.44
matplotlib==3.10.0
kiwisolver==1.4.8
docker-pycreds==0.4.0
wandb==0.19.7
cycler==0.12.1
setproctitle==1.3.5
gitdb==4.0.12
fonttools==4.56.0
contourpy==1.3.1
protobuf==5.29.3
peft==0.14.0
sentry-sdk==2.22.0
smmap==5.0.2
transformer_engine==1.7.0+4e7caa1
flash_attn==2.5.3
apex==0.1
xxhash==3.5.0
openai==1.57.0
pydantic_core==2.27.1
watchfiles==1.0.0
nvidia-ml-py==12.560.30
typing_extensions==4.12.2
ray==2.10.0
httptools==0.6.4
sniffio==1.3.1
outlines==0.0.46
pytz==2024.2
numba==0.60.0
pyarrow==18.1.0
uvicorn==0.32.1
partial-json-parser==0.2.1.1.post4
dill==0.3.8
lark==1.2.2
tiktoken==0.7.0
opencv-python-headless==4.10.0.84
httpx==0.28.1
pycountry==24.6.1
pydantic==2.10.3
msgpack==1.1.0
tzdata==2024.2
jiter==0.8.0
zipp==3.21.0
importlib_metadata==8.5.0
multiprocess==0.70.16
interegular==0.3.3
anyio==4.7.0
starlette==0.41.3
vllm==0.6.3
pandas==2.2.3
llvmlite==0.43.0
prometheus-fastapi-instrumentator==7.0.0
h11==0.14.0
fastapi==0.115.6
lm-format-enforcer==0.10.6
sentencepiece==0.2.0
pillow==10.4.0
jsonschema-specifications==2024.10.1
numpy==1.26.4
rpds-py==0.22.3
referencing==0.35.1
gguf==0.10.0
click==8.1.7
datasets==3.1.0
websockets==14.1
jsonschema==4.23.0
prometheus_client==0.21.1
pyairports==2.1.1
httpcore==1.0.7
mistral_common==1.5.1
msgspec==0.18.6
py-cpuinfo==9.0.0
diskcache==5.6.3
python-dotenv==1.0.1
xformers==0.0.27.post2
annotated-types==0.7.0
uvloop==0.21.0
einops==0.8.0
safetensors==0.4.5
orjson==3.10.12
transformers==4.45.2
antlr4-python3-runtime==4.9.3
accelerate==1.2.0
tensordict==0.5.0
tokenizers==0.20.3
codetiming==1.4.0
cloudpickle==3.1.0
omegaconf==2.3.0
huggingface-hub==0.26.5
PyYAML==6.0.2
hydra-core==1.3.2
torchvision==0.19.0+cu124
nvidia-cublas-cu12==12.4.2.65
nvidia-curand-cu12==10.3.5.119
torchaudio==2.4.0+cu124
nvidia-cuda-nvrtc-cu12==12.4.99
nvidia-cufft-cu12==11.2.0.44
sympy==1.12
networkx==3.2.1
nvidia-cusolver-cu12==11.6.0.99
fsspec==2024.2.0
nvidia-cusparse-cu12==12.3.0.142
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-cuda-cupti-cu12==12.4.99
nvidia-cuda-runtime-cu12==12.4.99
Jinja2==3.1.3
filelock==3.13.1
triton==3.0.0
mpmath==1.3.0
nvidia-cudnn-cu12==9.1.0.70
nvidia-nvtx-cu12==12.4.99
torch==2.4.0+cu124
jsonpatch==1.33
aiohttp==3.10.5
zstandard==0.22.0
tornado==6.4.1
parso==0.8.3
conda-libmamba-solver==24.7.0
psutil==6.0.0
psutil==5.9.0
boto3==1.35.10
idna==3.7
s3transfer==0.10.2
ninja==1.11.1.1
certifi==2024.7.4
jedi==0.19.1
decorator==5.1.1
prompt-toolkit==3.0.43
MarkupSafe==2.1.5
pyzmq==25.1.2
Werkzeug==3.0.4
pexpect==4.8.0
absl-py==2.1.0
tqdm==4.66.5
grpcio==1.66.1
archspec==0.2.3
conda-package-handling==2.3.0
Brotli==1.0.9
Pygments==2.15.1
distro==1.9.0
wheel==0.43.0
python-dateutil==2.9.0.post0
requests==2.32.3
frozenlist==1.4.1
jmespath==1.0.1
asttokens==2.0.5
libmambapy==1.5.8
pybind11==2.13.5
async-timeout==4.0.3
wcwidth==0.2.5
setuptools==72.1.0
jupyter_client==8.6.0
truststore==0.8.0
ptyprocess==0.7.0
ipykernel==6.28.0
menuinst==2.1.2
yarl==1.9.7
tensorboard-data-server==0.7.2
comm==0.2.1
nest-asyncio==1.6.0
traitlets==5.14.3
stack-data==0.2.0
pycosat==0.6.6
frozendict==2.4.2
conda_package_streaming==0.10.0
executing==0.8.3
matplotlib-inline==0.1.6
packaging==24.1
pure-eval==0.2.2
botocore==1.35.10
cffi==1.16.0
exceptiongroup==1.2.0
conda==24.7.1
platformdirs==3.10.0
multidict==6.0.5
pip==24.2
urllib3==2.2.2
jupyter_core==5.7.2
charset-normalizer==3.3.2
Markdown==3.7
ipython==8.25.0
aiohappyeyeballs==2.4.0
debugpy==1.6.7
regex==2024.7.24
attrs==24.2.0
aiosignal==1.3.1
tensorboard==2.17.1
pyprof==1.0.0
verl==0.1
verl==0.2.0.dev0
typing_extensions==4.12.2
ordered-set==4.1.0
jaraco.text==3.12.1
importlib_metadata==8.0.0
zipp==3.19.2
backports.tarfile==1.2.0
typeguard==4.3.0
platformdirs==4.2.2
wheel==0.43.0
tomli==2.0.1
autocommand==2.2.2
jaraco.context==5.3.0
packaging==24.1
more-itertools==10.3.0
importlib_resources==6.4.0
jaraco.functools==4.0.1
inflect==7.3.1
